body{
    display: flex;
}

#bg-img{
    width: 500px;
}

#logo-img{
    width: 100px;
}

.logo-section{
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 50px;
}