@font-face {
    font-family: viking;
    src: url(../Norse-Bold.otf);
}

body{
    display: flex;
}

#bg-img{
    width: 500px;
}

#logo-img{
    width: 100px;
}

.logo-section{
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: viking;
    font-size: 4rem;
}

.logo p{
    padding: 0;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(41, 171, 135);
}

.para{
    flex: 1 1 auto;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-content{
    flex: 2 0 auto;
}

#form-style{
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    flex: 2 1 auto;
    background-color: white;
    padding: 2em;
    box-shadow: 0px 0px 5px black;
}

.groups{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

label{
    display: block;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgba(41, 171, 135, 0.8);
    margin-bottom: 5px;
}


#form-style p {
    flex: auto;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-family: viking;
    color: rgb(41, 171, 135);
    display: block;
}

input{
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    box-shadow: inset 0px 0px 5px #E5E7EB;
}